.logo {
    width: 80px;
}
.icon {
    width: 80px;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
h1, h4 {
    color:white;
}
nav a {
    text-align: center;
    color:white;
    text-decoration: none;
}
#hero-msg, #hero-msg h4 {
    text-align: center;
}
#hero-img {
    width: 100%;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
    color:white;
}
#background {
    height: 725px;
    background-color: #0E2B66;
}
body {
    background-color: #0E2B66;
}
header {
    background-color: #0E2B66;
}
nav a:hover {
    background-color: #E1911D;
    color:white;
}
.book, .join {
    background-color: #0E2B66;
    color:white; 
    text-decoration: none;
}
.book:hover, .join:hover {
    background-color: #E1911D;
    color:white;
}
.msg {
    background-color: #0E2B66;
}
.msg h2 {
    color:white;
}
.msg p {
    color:white;
}
footer {
    background-color: #0E2B66;
    color:white;
}
footer a {
    color:white;
    text-decoration: none;
}
footer a:hover {
    color:white;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
.home-title {
    color:white; 
}