@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&family=Poppins:wght@200&display=swap');

body{
    background-color: #ACC0A0;
    margin: 0px;
}
.logo {
    width: 90px;
}
#logo_link {
    padding-top: 10px;
    padding-bottom: 10px;
    justify-self: center;
    align-self: center;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: left;
    color:#98c785;
    text-decoration: none;
    font-family: 'Nanum Myeongjo', 'Verdana', 'Ariel';
    font-size: 23px;
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
}
header {
    background-color:rgba(0,0,0,.5);
    color: rgba(0,0,0,.5);
    display: grid;
    grid-template-columns: 150px auto;
}
nav{
    display: flex;
    justify-content: space-around;
}
nav a:hover {
    background-color: #DDD6CA;
    color:#6B925A;
    display: flex;
    justify-content: space-around;
}



.banner-title{
    font-size: 34px;
    font-weight: bold;
}
#bannerphoto {
    width: 100%;
}
#banner{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 55% 45%;
    margin-top: -115px;
    /* padding-bottom: 75px; */
}
#banner-image{
    grid-column: 1/6;
    grid-row: 1/3;
    z-index: -1;
}
#banner-box{
    text-align: center;
}
.banner-msg {
    grid-column: 1/3;
    grid-row: 2/3;
    align-self: center;
    padding-left: 10px;
    font-size: 30px;
    color:rgba(255, 255, 255, 0.838);
    padding-left: 100px;
}
.banner-msg, h4 {
    text-align: center;
}
.contact{
    background-color: #6B925A;
    color:white; 
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.contact:hover{
    background-color: #DDD6CA;
    color: #192813;
    font-weight: bold;
}




.about-me{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 50px;
    padding-bottom: 175px;
    padding-top: 175px;
    background-color: #DDD6CA;
    color: #2a4320;
    font-family: 'Nanum Myeongjo', 'Verdana', 'Ariel';
}
.teacher{
    grid-column: 2/3;
    grid-row: 1/2;
    box-shadow: 5px 5px 10px #6f7364;

}
.hello{
    font-family: 'Nanum Myeongjo', 'Verdana', 'Ariel';
    font-size: 34px;
    font-weight: bold;
}
#about-me-description{
    width: 600px;
    grid-column: 4/5;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
    font-size: 19px;
    text-align: center;
    font-family: 'Poppins';
    font-weight: bold;
}

main{
    background-color: #ACC0A0;
}

#questions{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25% 25% 25%;
    align-content: center;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    color: #22371a;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 18px;
}

h1{
    width: 90%;
    grid-column: 1/2;
    grid-row: 2/3;
    font-family: 'Nanum Myeongjo', 'Verdana', 'Ariel';
    font-weight: bold;

}
.Q1{
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: #DDD6CA;
    padding-bottom: 40px;
    padding-top: 15px;
    box-shadow: 5px 5px 10px #6f7364;

}
.Q2{
    grid-column: 3/4;
    grid-row: 2/3;
    background-color: #DDD6CA;
    padding-bottom: 60px;
    padding-top: 10px;
    box-shadow: 5px 5px 10px #6f7364;
    padding-left: 20px;
    padding-right: 30px
    


}
.Q3{
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: #DDD6CA;
    padding-bottom: 40px;
    padding-top: 15px;
    box-shadow: 5px 5px 10px #6f7364;

}
.sign-up-link{
    display:grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 0 auto;
    width: 99.9%;
    text-align: center;
    padding-top: 135px;
    padding-bottom: 30px;
}
.signup{
    grid-column: 4/5;
    align-content: center;
    text-align: center;
    background-color: #5b3e35;
    color: #e6dfd1; 
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 20px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.signup:hover{
    background-color:#6B925A;
    color:white;
}


footer {
    background-color: #422d26;
    color:#DDD6CA;
    padding:25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color:#DDD6CA;
    text-decoration: none;
}
footer a:hover {
    color:#DDD6CA;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}




/* SIGN UP CHILD PAGE CSS */

#lesson-banner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 60px;
    padding-bottom: 60px;
}
#lesson-photo{
    grid-column: 2/3;
    box-shadow: 5px 5px 10px #6f7364;
}
.lesson-tittle{
    grid-column: 2/3;
    text-align: center;
    margin: auto;
    padding-top: 25px;
    background-color: #5b3e35;
    color:rgba(255, 255, 255, 0.838); 
    text-decoration: none;
    font-family: 'Nanum Myeongjo';
    font-size: 30px;
    padding: 15px 15px;
    margin-top: 50px;
    border-radius: 5px;

}

#lesson-types{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    padding-top: 70px;
    padding-bottom: 45px;
    background-color: #DDD6CA;
}
#lesson-photo1{
    grid-column: 2/3;
    box-shadow: 5px 5px 10px #6f7364;
}
#lesson-photo2{
    grid-column: 4/5;
    box-shadow: 5px 5px 10px #6f7364;
}
.private1{
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    background-color: #5b3e35;
    color: #e6dfd1; 
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 20px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;

}
.private1:hover{
    background-color:#6B925A;
    color:white;
}
.private2{
    grid-column: 4/5;
    grid-row: 2/3;
    text-align: center;
    background-color: #5b3e35;
    color: #e6dfd1; 
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 20px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.private2:hover{
    background-color:#6B925A;
    color:white;
}

#prices-guide{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding-top: 150px;
}
.price {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    margin:auto;
    background-color: #5b3e35;
    color: #e6dfd1; 
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 20px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.info{
    width: 300px;
    grid-column: 4/5;
    text-align: center;
    margin: auto;
    font-family:'Nanum Myeongjo';
    font-size: 22px;
    color:#2a4320;
    font-weight: bold;

}
.guide{
    grid-column: 6/7;
    grid-row: 1/2;
    text-align: center;
    margin:auto;
    background-color: #5b3e35;
    color: #e6dfd1; 
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 20px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}















/* CONTACT ME PAGE */

#contact_me_area{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 450px 300px;
    padding-top: 100px;
    padding-bottom: 100px;
}
#contactme-img1{
    grid-column: 1/3;
    grid-row: 1/2;
    padding-left: 200px;
    /* box-shadow:  #6f7364; */
}
#contactme-img2{
    grid-column: 2/5;
    grid-row:2/3;
    padding-left: 100px;
    /* box-shadow: 5px #6f7364; */
}

.contact-tittle{
    grid-row: 1/2;
    grid-column: 3/5;
    color: #2a4320;

}

#feedback{
    display: inline-block;

}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #DDD6CA; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #5b3e35;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #815e54;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    width: 340px;
    border-radius: 5px;
    background-color: #DDD6CA;
    padding: 20px;
    grid-row: 1/4;
    grid-column: 4/5;

  }

  label {
    color:#2a4320;
  }